.commentform {
  margin-top: auto;
  margin-bottom: 15px;
  padding: 15px 20px 0 10px;
  font-size: 15px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.commentform__submit {
  background-color: var(--light);
  border: none;
  color: var(--dark);
  padding: 5px;
  font-weight: 900;
  border-radius: 10px;
  font-size: inherit;
}

.commentform__submit:hover {
  cursor: pointer;
}

.commentform__input {
  background-color: var(--dark);
  height: 100%;
  outline: none;
  border: none;
  padding: 5px;
  color: var(--light);
  font-size: inherit;
}

.commentform__input::placeholder {
  color: var(--light);
}

@media all and (min-width: 320px) and (max-width: 400px) {

  .commentform {
    justify-content: space-between;
  }
  .commentform__input  {
    width: 70%;
    padding: 0;
  }
}
