input {
  height: 35px;
  background-color: var(--light);
  border: 1px solid var(--dark);
  border-radius: 10px;
}

input::placeholder {
  color: var(--dark);
  padding-left: 5px;
  font-weight: 800;
}

input:focus {
  outline: none;
}

input[type="date"] {
  color: var(--dark);
  font: inherit;
  font-size: 12px;
  font-weight: 800;
  padding-left: 5px;
}

input[type="text"] {
  color: var(--dark);
  font-weight: 400px;
  padding-left: 5px;
}

input[type="password"] {
  color: var(--dark);
  font-weight: 400px;
  padding-left: 5px;
}

input[type="link"] {
  color: var(--dark);
  font-weight: 400px;
  padding-left: 5px;
}

.input__error {
  text-align: center;
  font-size: 15px;
  font-style: italic;
}

.dateinput {
  display: flex;
  column-gap: 10px;
}