.popup {
  position: fixed;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: visibility 0ms 600ms, opacity 600ms 0ms;
}

.popup_open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transition: visibility 0ms 0ms, opacity 600ms 0ms;
  z-index: 2;
}

.popup__main {
  align-self: center;
  position: relative;
  background-color: var(--dark);
  width: 400px;
  border-radius: 10px;
}

.popup__title {
  color: var(--light);
  margin-left: 15px;
}

.popup__form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin: 10px 15px 25px 15px;
}

.popup__close-btn {
  position: absolute;
  top: -25px;
  right: -25px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  height: 22px;
  width: 22px;
  font-size: 30px;
  color: var(--light);
}

.popup__close-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

.popup__submitbtn {
  background-color: var(--dark);
  color: var(--light);
  border: 1px solid var(--light);
  height: 40px;
  border-radius: 10px;
  font-weight: 800;
  font-size: 17px;
  margin: none;
}

.popup__submitbtn:hover {
  cursor: pointer;
}


@media all and (min-width: 320px) and (max-width: 500px) {

  .popup__main {
    width: 75%;
  }
 .popup__title {
  margin-left: 0;
  text-align: center;
 }

}
