@import url("https://fonts.googleapis.com/css2?family=Inter");
@import url("./popup.css");
@import url("./input.css");
@import url("./comment.css");
@import url("./commentform.css");
@import url("./footer.css");
@import url("./header.css");
@import url("./post.css");
@import url("./postpopup.css");
@import url("./posts.css");
@import url("./profile.css");
@import url("./searchform.css");
@import url("./signin.css");
@import url("./body.css");
@import url("./savebutton.css");
@import url("./deletebutton.css");
@import url("./tooltip.css");

:root {
  --dark: #b22222;
  --light: #ffe4e1;
  --medium: rgba(178, 34, 34, 0.5);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
