.comment {
    display: flex;
    margin: 20px 10px 20px 10px;
    height: min-content;
}

.comment__pfp {
    min-width: 30px;
    max-width: 30px;
    height: 30px;
    object-fit: cover;
    border: 0.5px solid var(--light);
    border-radius: 50px;
}

.comment__text {
    display: flex;
    column-gap: 5px;
    margin-left: 5px;
    align-self: center;
    font-size: 15px;
    width: inherit;
    color: var(--light);
}

.comment__username {
    font-weight: 1000;
}

.comment__content {
    margin: 0;
    word-break: break-all;
}

